/* CONTENEDOR */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(30, 41, 59, 0.8);
    z-index: 1000;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* LOGO */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

/* LINKS DESKTOP */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #cbd5f5;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

/* EFECTO UNDERLINE */
.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #22c55e;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: white;
}

.nav-links a.active {
    color: white;
}

/* BOTÓN DARK MODE */
#modoBtn {
    background: transparent;
    border: 1px solid #22c55e;
    color: #22c55e;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* HAMBURGUESA */
.menu-toggle {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: #1e293b;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        gap: 15px;

        /* 🔥 CLAVE */
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;

        transition: all 0.3s ease;
    }

    .nav-links.show {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
}